.homeContainer {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 0;
  display: flex;
  flex-direction: column;
}

.textInputField {
  padding: 24px 12px;
  border-radius: 7px;
  font-size: 24px;
}

.textInputField:focus {
  outline: none;
}

.enterRoomButton {
  margin-top: 10px;
  padding: 24px 12px;
  font-size: 28px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  cursor: pointer;
}

.remarkContainer {
  flex: 1;
  margin-top: 10px;
  line-height: 1.4;
  color: dimgrey;
  max-height: 200px;
  overflow: auto;
}

.remarkContainer a {
  color: #0000EE;
}

.remarkContainer a:visited {
  color: #551A8B;
}
