.newMessageForm {
    display: flex;
}
  
.newMessageInputField {
    flex: 1;
    font-size: 1rem;
    padding: 8px 12px;
    resize: none;
    border-radius: 8px;
}
  
.sendMessageButton {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background: rgb(0, 132, 255);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    margin-left: 8px;
    cursor: pointer;
}
  
.newMessageInputField,
.sendMessageButton {
    border-color: #9a9a9a;
}
  