.userList {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    padding: 0;
}
  
.userBox {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
  